<!DOCTYPE html>
<html>
<body>
    <form>
        <label for="textinput">Search:</label> 
        <input type="text" required id="textinput" name="query"> 
        <label for="kindinput">kind</label>
        <select required id="kindinput" name="kind">
            <option selected disabled hidden>choose one</option>
            <option>person name</option>
            <option>movie title</option>
        </select>   
        <button type="submit">search</button> 
    </form>

    {% block content %}
    {% endblock %}
</body>
</html>