<!DOCTYPE html>
<html>
<body>
    <form action="/query/">
        <label for="queryinput">Search:</label> 
        <input type="text" required id="queryinput" name="query"> 
        <label for="kindinput">kind</label>
        <select required id="kindinput" name="kind" autocomplete="off">
            <option selected disabled hidden value="">choose one</option>
            <option value="person">person name</option>
            <option value="movie">movie title</option>
        </select>   
        <button type="submit">search</button> 
    </form>

    {% block content %}
    {% endblock %}
</body>
</html>