{% extends "base.html" %}

{% block content %}

{% if movies %}
<p> Movies matching {{ query }}: </p>
<ol>
    {% for movie in movies %}
        {% if movie.get('release') %}
        <li> <a href="{{url_for('movie_page', tt=movie.get('tt'))}}"> {{ movie.get('title') }} released in {{ movie.get('release') }} </a> </li>
        {% else %}
        <li> <a href="{{url_for('movie_page', tt=movie.get('tt'))}}"> {{ movie.get('title') }} </a> </li>
        {% endif %}
    {% endfor %}
</ol>
{% else %}
<p>No results were found for {{ query }}</p>
{% endif %}

{% endblock %}