{% extends "base.html" %}

{% block content %}

{% if people %}
<p> People matching {{ query }}: </p>
<ol>
    {% for person in people %}
        {% if person.get('birthdate') %}
        <li> <a href="{{url_for('person_page', nm=person.get('nm'))}}"> {{ person.get('name') }} born in {{ person.get('birthdate') }} </a> </li>
        {% else %}
        <li> <a href="{{url_for('person_page', nm=person.get('nm'))}}"> {{ person.get('name') }}  </a> </li>
        {% endif %}
    {% endfor %}
</ol>
{% endif %}

{% endblock %}